<template>
  <div v-if="project">
    <nav-header :links="links"/>

    <section class="page-section" id="project">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <p class="display-4 small">PROJECT</p>
            <h2 class="mt-0">{{ project.name }}</h2>
            <hr class="divider my-4">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md">
            <p v-html="project.description"></p>

            <table class="table table-bordered table-sm project-table">
              <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{ project.name }}</td>
                </tr>
                <tr v-if="project.deployed_at">
                  <th>Deployed at</th>
                  <td><a :href="project.deployed_at" target="_blank">{{ project.deployed_at }}</a></td>
                </tr>
                <tr>
                  <th>First release</th>
                  <td>{{ project.first_release }}</td>
                </tr>
                <tr>
                  <th>Contributors</th>
                  <td>
                    <template v-for="(contributor, index) in project.contributors">
                      <a v-if="contributor.url" :key="contributor.id" :href="contributor.url" target="_blank">{{ contributor.first_name}} {{ contributor.last_name }}</a><span v-else :key="contributor.id">{{ contributor.first_name}} {{ contributor.last_name }}</span><span v-if="index !== project.contributors.length - 1" :key="index">, </span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <th>Frameworks</th>
                  <td>
                    <template v-for="(framework, index) in project.frameworks">
                      {{ framework.name }} ({{ framework.language.name }})
                      <span v-if="index !== project.frameworks.length - 1" :key="index">,</span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <th>Repositories</th>
                  <td>
                    <template v-for="(repository, index) in project.repositories">
                      {{ repository.name }}:
                      <span v-if="repository.url" :key="repository.id">
                        <a :href="repository.url" target="_blank">{{ repository.url }}</a>
                      </span>
                      <span v-else :key="repository.id">
                        <em>Not available</em>
                      </span>
                      <br v-if="index !== project.repositories.length" :key="index"/>
                    </template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div v-if="project.image" class="col-sm-12 col-md">
            <img :src="project.image" width="100%" alt="Screenshot">
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'page',
  computed: {
    links() {
      return [
        { name: this.project.name, url: '#project' },
        { name: 'Contact', url: '#contact' }
      ]
    }
  },
  data() {
    return {
      project: null
    }
  },
  async fetch() {
    this.project = await this.$axios.get(
      `/projects/${this.$route.params.identifier}`
    ).then(res => res.data).catch(() => {
      this.$router.push({
        path: '/'
      });
    });
  }
};
</script>

<style lang="scss" scoped>
.project-table {
  font-size: 14px;
}
</style>
