@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?32pn72');
  src:  url('fonts/icomoon.eot?32pn72#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?32pn72') format('truetype'),
    url('fonts/icomoon.woff?32pn72') format('woff'),
    url('fonts/icomoon.svg?32pn72#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gopher:before {
  content: "\e900";
  -webkit-text-stroke-width: 1px;
}
