<template>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3" id="mainNav" :class="navClass">
    <div class="container">
      <NuxtLink to="/" class="navbar-brand">Matthijs Roelink</NuxtLink>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" @click="collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <scrollactive id="navbarResponsive" class="collapse navbar-collapse" :offset="160" :scrollOffset="50" tag="div">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" v-for="link in links" :key="link.name">
            <a class="nav-link scrollactive-item" :href="link.url">{{ link.name }}</a>
          </li>
        </ul>
      </scrollactive>
    </div>
  </nav>  
</template>

<script>
export default {
  name: 'NavHeader',
  props: {
    links: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      navClass: {}
    }
  },
  methods: {
    onScroll() {
      const currentScrollPosition = window.pageYOffset;
      this.navClass = {
        'navbar-scrolled': currentScrollPosition > 100
      }
    },
    collapse() {
      const el = document.getElementById('navbarResponsive');
      if (el.classList.contains('show')) {
        el.classList.remove('show');
      } else {
        el.classList.add('show');
      }
    }
  },
  beforeMount () {
    window.addEventListener('scroll', this.onScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll);
  }
};
</script>

<style lang="scss" scoped>
@import '~/assets/scss/_variables.scss';

.is-active {
  color: $primary !important;
}
</style>