<template>
  <div class="error">
    <img src="~/assets/img/this-is-fine.jpg" class="error-image" height="200px" alt="This is fine meme">
    <h1 v-if="error.statusCode === 404" class="error-title">Page not found</h1>
    <h1 v-else class="error-title">An error occurred</h1>
    <span class="error-link">Click <NuxtLink to="/">here</NuxtLink> to go back to the home page.</span>
  </div>
</template>

<script>
export default {
  props: ['error'],
  layout: 'error'
}
</script>

<style lang="scss">
.error {
  text-align: center;

  .error-image {
    margin-top: 5rem;
  }

  .error-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
</style>