<template>
  <div id="page-top">
    <Nuxt />

    <!-- Contact Section -->
    <section class="page-section" id="contact">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="mt-0">Contact Me!</h2>
            <hr class="divider my-4">
            <p class="mb-5">To get in touch, simply send an email:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mx-auto text-center">
            <a @click="onEmailClick" href="javascript:void(0)" class="link-no-decoration"><i class="far fa-envelope fa-3x mb-3 sr-contact"></i></a>
            <p>
              <a @click="onEmailClick" href="javascript:void(0)" class="text-primary link-no-decoration">matthijs@roelink.eu</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Footer -->
    <footer class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-2 col-md-1">
            <a href="https://www.linkedin.com/in/matthijs-roelink" target="_blank">
              <i class="fab fa-linkedin fa-3x mb-3 sr-contact"></i>
            </a>
          </div>
          <div class="col-2 col-md-1">
            <a href="https://github.com/Matthiti" target="_blank">
              <i class="fab fa-github fa-3x mb-3 sr-contact"></i>
            </a>
          </div>
          <div class="col-2 col-md-1">
            <a href="https://gitlab.com/Matthiti" target="_blank">
              <i class="fab fa-gitlab fa-3x mb-3 sr-contact"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="small text-center text-muted">&copy; {{ new Date().getFullYear() }} - Matthijs Roelink</div>
    </footer>
  </div>
</template>

<script>
export default {
  methods: {
    onEmailClick() {
      const link = document.createElement('a');
      link.href = 'mailto:matthijs@roelink.eu';
      link.click();
    }
  },
  mounted() {
    this.$sr.reveal('.sr-icons', {
      duration: 600,
      scale: 0.3,
      distance: '0px'
    }, 200);

    this.$sr.reveal('.sr-button', {
      duration: 1000,
      delay: 200
    });
    
    this.$sr.reveal('.sr-contact', {
      duration: 600,
      scale: 0.3,
      distance: '0px'
    }, 300);
  }
};
</script>
