<template>
  <div>
    <nav-header :links="links"/>

    <!-- Masthead -->
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">Welcome to roelink.eu</h1>
            <hr class="divider my-4">
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 mb-5">This is the personal page of Matthijs Roelink</p>
            <NuxtLink to="/resume" class="btn btn-primary btn-xl m-2">View my resume</NuxtLink>
            <a class="btn btn-primary btn-xl m-2" href="https://blog.roelink.eu" target="_blank">View my blog</a>
            <a class="btn btn-primary btn-xl m-2" v-scroll-to="'#contact'" href="#">Contact me</a>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section class="page-section" id="about">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="mt-0">About Me</h2>
            <hr class="divider my-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 text-center mb-3">
            <img src="~/assets/img/profile.png" height="75%" width="75%" class="img-fluid">
          </div>
          <div class="col-lg-7 mb-3">
            <p>I am a second year master Computer Science student at the University of Twente and currently working as a Full-Stack Developer at TRIMM.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section" id="interests">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="mt-0">Interests</h2>
            <hr class="divider my-4">
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="mt-5 mx-auto">
              <i class="fas fa-5x fa-shield-alt text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Cybersecurity</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="mt-5 mx-auto">
              <i class="fas fa-5x fa-code text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Software Development</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="mt-5 mx-auto">
              <i class="fab fa-5x fa-bitcoin text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Blockchain / Cryptocurrency</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section" id="portfolio">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="mt-0">Portfolio</h2>
            <hr class="divider my-4">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-6 pt-4">
            <a class="portfolio-box sr-icons" href="https://neu-nl.nl" target="_blank">
              <img class="img-fluid rounded" src="~/assets/img/neu-nl.png" alt="">
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  Website (2019)
                </div>
                <div class="project-name">
                  NEU.NL
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-sm-6 pt-4">
            <NuxtLink to="/research" class="portfolio-box sr-icons">
              <img class="img-fluid rounded" src="~/assets/img/deadlock-free-monitors.png" alt="">
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  Research (2020)
                </div>
                <div class="project-name">
                  Encoding Deadlock-Free Monitors in the Vercors Verification Tool
                </div>
              </div>
            </NuxtLink>
          </div>

          <div class="col-lg-4 col-sm-6 pt-4">
            <a class="portfolio-box sr-icons" href="https://bindrveuroe.nl" target="_blank">
              <img class="img-fluid rounded" src="~/assets/img/bindr.png" alt="">
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  Website (2021)
                </div>
                <div class="project-name">
                  Bind'r
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section" id="projects">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="mt-0">Projects</h2>
            <hr class="divider my-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center" v-for="project in projects" :key="project.id">
            <div class="mt-5 mx-auto">
              <NuxtLink :to="`/projects/${project.identifier}`"><i class="fa-5x text-primary mb-3 sr-icons" :class="project.icon_classes"></i></NuxtLink>
              <h3 class="mb-3"><NuxtLink :to="`/projects/${project.identifier}`" class="link-no-decoration">{{ project.name }}</NuxtLink></h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'page',
  computed: {
    links() {
      return [
        { name: 'Home', url: '#page-top' },
        { name: 'About', url: '#about' },
        { name: 'Interests', url: '#interests' },
        { name: 'Portfolio', url: '#portfolio' },
        { name: 'Projects', url: '#projects' },
        { name: 'Contact', url: '#contact' }
      ]
    }
  },
  data() {
    return {
      projects: []
    }
  },
  async fetch() {
    this.projects = await this.$axios.get(
      '/projects'
    ).then(res => res.data);
  }
};
</script>

<style>
</style>
