<template>
  <div>
    <nav-header :links="links"/>

    <section class="page-section" id="research">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="mt-0">Research</h2>
            <hr class="divider my-4">
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p>My bachelor thesis can be downloaded <a href="/files/encoding-deadlock-free-monitors-in-vercors.pdf" class="text-primary link-no-decoration" target="_blank" rel="noopener">here</a>.</p>
            <p>The associated online appendix can be found <a href="/files/encoding-deadlock-free-monitors-in-vercors-online-appendix.pdf" class="text-primary link-no-decoration" target="_blank" rel="noopener">here</a>.</p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Rcd0CfD1oCY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'page',
  computed: {
    links() {
      return [
        { name: 'Research', url: '#research' },
        { name: 'Contact', url: '#contact' }
      ]
    }
  }
};
</script>
