<template>
  <div>
    <nav-header :links="links"/>

    <section class="page-section d-print-block" id="cv">
      <div class="container">
        <div class="print">
          <div class="row justify-content-center">
            <div class="col-12 text-center d-print-none">
              <h2 class="mt-0">Resume</h2>
              <hr class="divider my-4">
            </div>
            <div class="col-12 print-only">
              <h1 class="mt-0 mb-3">Resume</h1>
            </div>
          </div>
          <template v-if="resume">
            <div class="row pb-3">
              <div class="col-sm-6">
                <table class="table table-borderless table-sm">
                  <thead>
                  <tr>
                    <th style="width: 60%"></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Name:</td>
                    <td>{{ resume.first_name }} {{ resume.last_name }}</td>
                  </tr>
                  <tr v-if="resume.address">
                    <td>Address:</td>
                    <td>{{ resume.address }}</td>
                  </tr>
                  <tr>
                    <td>City:</td>
                    <td>{{ resume.city }}</td>
                  </tr>
                  <tr v-if="resume.phone_number">
                    <td>Phone number:</td>
                    <td>{{ resume.phone_number }}</td>
                  </tr>
                  <tr>
                    <td>Email address:</td>
                    <td>{{ resume.email }}</td>
                  </tr>
                  <tr>
                    <td>Date of birth:</td>
                    <td>{{ resume.date_of_birth }}</td>
                  </tr>
                  <tr>
                    <td>Place of birth:</td>
                    <td>{{ resume.place_of_birth }}</td>
                  </tr>
                  <tr>
                    <td>Nationality:</td>
                    <td>{{ resume.nationality }}</td>
                  </tr>
                  <tr>
                    <td>Marital status:</td>
                    <td>{{ resume.marital_status }}</td>
                  </tr>
                  <tr>
                    <td>Driving license:</td>
                    <td>{{ resume.driving_license }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-6 text-center">
                <img src="~/assets/img/profile.png" height="50%" width="50%" class="img-fluid">
              </div>
            </div>
            <div v-for="cat in resume.categories" class="spacing" :key="cat.id">
              <h3>{{cat.name}}</h3>
              <table class="table table-borderless table-sm">
                <thead>
                <tr>
                  <th style="width: 25%;"></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="exp in cat.experiences" :key="exp.id">
                  <td v-if="exp.from_date === exp.to_date">{{exp.from_date}}</td>
                  <td v-else>{{ exp.from_date }} &nbsp;&nbsp;-&nbsp;&nbsp;  {{ exp.to_date ? exp.to_date : 'present' }}</td>
                  <td>
                    <p>
                      <b>{{ exp.title }}</b>
                    </p>
                    <p style="white-space: pre-line">{{ exp.description }}</p></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="spacing">
              <h3>Skills</h3>
              <ul>
                <li v-for="skill in resume.skills" :key="skill.id">
                  {{ skill.name }} <span v-if="skill.description">- {{ skill.description }}</span>
                </li>
              </ul>
            </div> -->
            <div class="spacing">
              <h3>Languages</h3>
              <table class="table table-borderless table-sm">
                <thead>
                <tr>
                  <th style="width: 25%;"></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="l in resume.languages" :key="l.id">
                  <td>{{ l.name }}:</td>
                  <td>{{ l.value }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="spacing">
              <h3>Hobbies</h3>
              <span>{{ resume.hobbies.map(h => h.name).join(', ') }}</span>
            </div>
          </template>
        </div>

        <button class="btn btn-primary btn-xl mr-2 mt-5" @click="onPrint">Print</button>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'page',
  computed: {
    links() {
      return [
        { name: 'Resume', url: '#cv' },
        { name: 'Contact', url: '#contact'}
      ]
    }
  },
  data() {
    return {
      resume: null
    }
  },
  methods: {
    onPrint() {
      window.print();
    },
    setResume(resume) {
      resume.categories.forEach(c => c.experiences.forEach(e => {
        const from = new Date(Date.parse(e.from_date));
        if (e.month_only) {
          e.from_date = from.getFullYear() + "-" + ("0" + (from.getMonth() + 1)).slice(-2);
        }

        if (e.year_only) {
          e.from_date = from.getFullYear();
        }

        if (e.to_date) {
          const to = new Date(Date.parse(e.to_date));
          if (e.month_only) {
            e.to_date = to.getFullYear() + "-" + ("0" + (to.getMonth() + 1)).slice(-2);
          }

          if (e.year_only) {
            e.to_date = to.getFullYear();
          }
        }
      }));
      
      this.resume = resume;
    }
  },
  async fetch() {
    await this.$axios.get(
      '/resumes/matthijsroelink'
    ).then(res => this.setResume(res.data));
  },
  async created() {
    if (!process.client) {
      return;
    }

    let resume = JSON.parse(window.localStorage.getItem('resume'));
    if (resume) {
      this.setResume(resume);
    }
  }
};
</script>

<style lang="scss">
  .print-only {
    display: none;
  }

  @media print {
    body {
      background-color: white !important;
      color: #212529 !important;
    }

    body *, footer {
      visibility: hidden;
    }

    .table {
      color: #212529 !important;
    }

    .print, .print * {
      visibility: visible;
    }
    .print {
      position: absolute;
      left: 0;
      top: 0;
      /*margin: 1.6cm;*/
    }

    .print-only {
      display: block;
      visibility: visible;
    }

    i {
      visibility: hidden !important;
    }
  }
</style>
